.form-main{
    display: flex;
    place-items: center;
    flex-direction: column;
    gap:4em;
    margin:4em 0;
}
.form-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.form-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-header .icon {
  font-size: 20px;
  margin-right: 8px;
}

.form-header p {
  margin: 0;
  font-size: 14px;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  border: 2px solid var(--color-secundario);
  outline: none;
}

.apellidos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.apellidos input {
  width: 100%;
}

.btn-enviar {
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 0.7em;
  font-size: 1em;
  font-weight: bold;
  margin-top: 2em;
}

@media (max-width:480px){
    .apellidos{
        flex-direction: column;
        gap:0;

    }
}