.top-section{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 4em;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
.container{
    margin: 1em;
}
.buttons-form{
    margin:2em 0;
    display: flex;
    justify-content: space-around;
}
.form-contacto{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 5em;
}
.left img{
    width: 10em;
    height: 10em;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right{
    padding-top: 1em;
}
.form-group>input{
    padding: 0.5em;
    margin: 0.6em 0;
}
