.top-section{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    place-items: center;
    
}

.top-section img{
    width: 10em;
    height: 10em;
}
.bottom-section{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    margin:2em;
    gap:3em;
    text-align: center;
}

.delete-action, .back-action, .last-dato-empresa {
    grid-column: 1/3;
}

.buttons-form{
    display: flex;
    justify-content: space-around;
}
.delete-action > p{
    margin-bottom: 3em;
}
