
/* Footer */
footer {
    background-color: #f8f9fb;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #ccc;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    height: 8em;
}


footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

footer a {
    color: #1a2a43;
    text-decoration: none;
    font-size: 13px;
}

footer p {
    font-size: 12px;
    color: gray;
    margin-bottom: 2em;
}