/* ==========================
   VARIABLES Y RESET
========================== */
:root {
    --color-principal: #1E4D7B;
    --color-principal-90: #1E4D7BE6;
    --color-secundario: #4e81d2;
    --color-selects: #5888d5;
    --fondo: #f5f7fa;
    --fondo-card: #dcd3d3;
    --fondo-header: #e0ecf7;
    --eliminar: rgb(255, 55, 55);
    --logo-verde: #96C03A;
    --correcto: rgb(13, 158, 13);
    --correcto-hover: rgb(48, 227, 48);
    --eliminar-hover: rgb(226, 28, 28);
    --duplicado: #ffcccc;
    --shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--fondo);
    color: var(--color-secundario);
}

/* ==========================
   TIPOGRAFÍA
========================== */
h1,
h2,
h3 {
    font-family: "Jockey One", sans-serif;
    color: var(--color-principal);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

p {
    color: var(--color-principal);
}

img{
    width: 20px;
    height: 20px;
}


/* ==========================
   ENLACES Y BOTONES BASE
========================== */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
}


/* ==========================
   SISTEMA DE BOTONES
========================== */
.btn {
    background-color: var(--color-principal);
    border-radius: 6px;
    border: 0;
    font-size: 0.85em;
    padding: 0.919em;
    text-align: center;
    place-self: center;
    width: 15em;
    height: auto;
}

select.btn{
    background-color: var(--color-selects);
    color: var(--fondo);
    width: auto;
}

.btn:hover {
    background-color: var(--color-secundario);
    cursor: pointer;
    transition: 0.5s;
}

.btn a {
    color: white;
}


.btn.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

/* Botones de estado */
.guardar {
    background-color: var(--correcto);
}

.guardar:hover {
    background-color: var(--correcto-hover);
}

.eliminar {
    background-color: var(--eliminar);
}

.eliminar:hover {
    background-color: var(--eliminar-hover);
}

/* ==========================
   CLASES DE UTILIDAD
========================== */
.error {
    color: var(--eliminar);
}

.aprobado {
    color: var(--correcto);
}
.oculto{
    display: none;
}

.buscador{
    margin: 2em 0;
    justify-items: center;
}


.sticky{
    position: sticky;
    top: 0;
    z-index: 20;
}

p.error{
    margin-top: 1.2em;
    background-color: #ffcccc;
    text-align: center;
}


.parallax { 
    /* Propiedad clave para el efecto */
    background-attachment: fixed; 
    
    /* Configuración del fondo */
    background-image: url("../img/fondo-main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Altura de la sección */
    min-height: 500px; 
}



/* ==========================
   POSICIONAMIENTO GRID/FLEX
========================== */
/* Elementos que ocupan 2 columnas */



 .last, .two-col {
    grid-column: 1 / 3;
}

form .form-group {
    margin: 1em 0;
}
.buscador form{
    display: flex;
    align-items: center;
    gap:2em;
}

.ficha{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    place-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.activate-empresa{
    display: flex;
}

/* ==========================
   HEADER / NAVBAR
========================== */
header.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo-header);
    box-shadow: var(--shadow);
    padding: 1em 6em;
    width: 100%;
    height: 6em;
    color: var(--color-secundario);
}

header .logo img{
    height: 8em;
    width: auto;
}

header.navbar ul {
    list-style: none;
    display: flex;
    gap: 3em;
}

header.navbar a {
    color: var(--color-principal);
    font-size: 1em;
}

header .perfil img {
    height: 3.5em;
    width: auto;
}

/* ==========================
   FOOTER
========================== */
footer {
    background-color: #f8f9fb;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #ccc;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    height: 8em;
}

.footer-top img{
    width: auto;
    height: auto;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

footer a {
    color: #1a2a43;
    font-size: 13px;
}

footer p {
    font-size: 12px;
    color: gray;
    margin-bottom: 2em;
}

/* ==========================
   PÁGINA HOME 
========================== */
.bienvenida {
    text-align: center;
    padding: 7em 12em;
}

.bienvenida h1 {
    background: var(--color-principal-90);
    margin-bottom: 1.5em;
    border-radius: 15px;
    color: white;
    padding: 0.8em;
}

.bienvenida p {
    text-align: justify;
    margin-bottom: 2em;
    background: #ffffffe3;
    border-radius: 15px;
    padding: 2em;
}

/* ==========================
   PÁGINA HOME - EMPRESAS
========================== */
.empresas {
    text-align: center;
    padding: 4em;
}

.empresas h2 {
    margin-bottom: 30px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.empresa {
    width: 20em;
}

.empresa img {
    width: 13em;
    height: 11em;
    margin-bottom: 10px;
}

/* ==========================
    OFERTAS
========================== */


.new-oferta{
    margin: 3em;
}

.save-offer{
    margin:3em 0;
    display: flex;
    justify-content: space-between;
    
}



/* ==========================
   PÁGINA HOME - CONTACTO
========================== */
.contacto {
    text-align: center;
    padding: 6em 2em;
}

.contacto-card {
    display: inline-block;
    background-color: var(--fondo-card);
    padding: 2em 4em;
    border-radius: 10px;
    margin-top: 20px;
}

.contacto-card button{
    margin-top: 15px;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* ==========================
   PÁGINA CONTACTO - FORMULARIO
========================== */
.contacto-form {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 4em;
    margin: 4em 0;
}

.contacto-form > .form-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.contacto-form .form-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contacto-form .form-header .icon {
    font-size: 20px;
    margin-right: 8px;
}

.contacto-form .form-header p {
    margin: 0;
    font-size: 14px;
}

.contacto-form label {
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}




.contacto-form .apellidos {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}


.contacto-form .btn-enviar {
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 0.7em;
    font-size: 1em;
    font-weight: bold;
    margin-top: 2em;
}

/* ==========================
   PÁGINA LOGIN
========================== */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--fondo);
    margin-top: 2%;
}

.login-card {
    background-color: white;
    padding: 3em;
    border-radius: 15px;
    box-shadow: var(--shadow);
    align-items: center;
    width: 380px;
}

.login-logo {
    width: 150px;
    height: auto;
}

.login-form {
    margin: 3em 0;
    gap:1.5em;
    width: 100%;
}



button.login-btn {
    width: 100%;
    padding: 10px;
    font-size: 1em;
}

.login-extra {
    text-align: center;
}

.login-buttons form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em 0;
}

.login-buttons .btn,
.login-back .btn {
    padding: 0.7em;
    font-size: 0.7em;
}

.login-link {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.login-back {
    margin-top: 3em;
    width: 100%;
}


/* ==========================
   PÁGINA LOGIN - REGISTRO
========================== */
div.registro-empresa{
    margin: 3em;
    width: 70%;
    place-self: center;
}
/* Imagenes */
.top-section img,
.left img {
    width: 9em;
    height: 9em;
    border: none;
}
/* Contenedores de formulario */
.container {
    margin: 1em;
}

.left {
    align-items: center;
    margin-left:2em;
}

.right {
    padding-top: 1em;
    width: 80%;
}

.card-content form > .top-section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 4em;
    place-items: center;
    margin: 2em 0;
}

.bottom-section,.form-contacto, .fechas {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2em;
    text-align: center;
}

.registro-empresa > p{
    margin: 1em 0 2em 0;
}


/* ==========================
   ESTILOS GENERALES DE INPUTS Y FORM
========================== */
form .form-group {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}


form button {
    background-color: transparent;
}

.buttons-form {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--fondo-card);
    border-radius: 4px;
    font-size: 14px;
}

input:focus, textarea:focus {
    border: 2px solid var(--color-secundario);
    outline: none;
}

/* form > div > input{
    width: auto;
    margin-left: 0.4em;
    height: auto;
} */



/* ==========================
   CARDS
========================== */
.card{
    padding: 2em;
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.card-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    width: 100%;
}

.card-content {
    
    background-color: white;
    margin-bottom: 2em;
    width: 100%;
    transition: 0.4s;
    
}

.card-content:hover{
    translate: 0 -3px;
    box-shadow: 0 0.3em 1.3em var(--color-principal);
}

.card-content > h1 {
    text-align: center;
}


/* ==========================
   RESPONSIVE - MOBILE
========================== */
@media (max-width: 480px) {

    /* Login mobile */
    .login-card {
        padding: 2em;
    }

    .login-form input {
        font-size: 0.8em;
    }

    .login-btn {
        font-size: 0.8em;
    }

    .login-buttons .btn {
        font-size: 0.6em;
    }

    .login-back {
        display: flex;
        justify-content: center;
    }

    /* Contacto mobile */
    .contacto-form .apellidos {
        flex-direction: column;
        gap: 0;
    }
}
@media (max-width: 600px) {
    form.alumno {
        grid-template-columns: 1fr;
    }

    .charge,
    .util-btns {
        grid-template-columns: 1fr;
        gap: 2em;
    }

    div > .top-section,
    .bottom-section,
    .form-contacto {
        grid-template-columns: 1fr;
    }
}

/* ==========================
   RESPONSIVE - TABLET
========================== */
@media (max-width: 850px) {
    .navbar {
        padding: 1em 3em;
    }
}